<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true"  debug="true">

    <contextName>rate-limiter</contextName>

    <!-- console appender定义 -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c:%L] [%thread] %m%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="consoleAppender"/>
    </root>


</configuration>
